body{
    font-family: "Roboto Condensed", sans-serif;
    background-color: #dedede;
    color:#333333;
    /*HEX 0-9 A-F 3-digits 6-digits*/
    /*RGB 0-255*/
}
p{
    line-height: 2;
}

.site-init{
    background-color: #222222;
    color:#ffffff;
    text-align: center;
}

.menu a{
    display: inline;
    text-decoration: none;
    margin-right:10px;
    color:#ffffff;
}

#read-more{
    display: block;
    text-decoration: none;
    color:black;
    border:2px solid black;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    width:200px;
    padding: 10px;
    margin-top:20px;
}